<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.beuth.tasql">

    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:label="@string/app_name"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name="com.example.beuth.taskql.SessionId"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.beuth.taskql.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.beuth.taskql.MainActivity" />
        <activity
        android:name="com.example.beuth.taskql.ProjectActivity" android:label="@string/title_project_activity" >

        </activity>

        <activity android:name="com.example.beuth.taskql.Subactivity" android:label="@string/title_sub_project_activity" android:parentActivityName="com.example.beuth.taskql.ProjectActivity" android:configChanges="orientation|screenSize">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.beuth.taskql.ProjectActivity" >
        </meta-data>
        </activity>
    </application>

</manifest>
